node_modules
dist
dist-ssr
*.local
data/*.sqlite
data/*.sqlite-journal
data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
*.db
uploads/*
!uploads/.gitkeep
scripts/*.txt
scripts/*.json
scripts/*.sql
.env
.env.*
.DS_Store
*.log
.gemini
.agents
CVS
.svn


